<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>
  <body>
      <main class="container">
        <h2>Add new product</h2>
        <form method="POST">
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" accept=".jpg,.jpeg,.png" id="inputFile" name="inputFile">
              </div>
            <div class="mb-3">
                <label for="inputTitle">Title:</label>
                <input class="form-control" type="text" id="inputTitle" name="inputTitle">
            </div>
            <div class="mb-3">
                <label for="inputAuthor">Author:</label>
                <input class="form-control" type="text" id="inputAuthor" name="inputAuthor">
            </div>
            <div class="mb-3">
                <label for="inputGenre">Genre:</label>
                <input class="form-control" type="text" id="inputGenre" name="inputGenre">
            </div>
            <div class="mb-3">
                <label for="inputPublisher">Publisher:</label>
                <input class="form-control" type="text" id="inputPublisher" name="inputPublisher">
            </div>
            <div class="mb-3">
                <label for="inputPublicationYear">Publication year:</label>
                <input class="form-control" type="text" id="inputPublicationYear" name="inputPublicationYear">
            </div>
            <div class="mb-3">
                <label for="inputDescription">Description:</label>
                <textarea class="form-control" id="inputDescription" name="inputDescription" rows="4"></textarea>
            </div>
        </form>
      </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>