/* .row-with-wide-cards .card {
    width: 100%;
  } */
/* .card {
    width: 100%;
} */
body > .container {
    padding: 70px 15px 0;
  }
.pagination {
    padding-top: 20px;
}
nav > .navbar {
  flex-wrap: nowrap;
}
div.message{
  font-size: x-large;
}
.admin-only{
  /* display: none; */
}
.client-only{
  /* display: none; */
}
.anonymous-only{
  /* display: initial; */
}
.logged-in{
  /* display: none; */
}
.non-admin{

}